@inherits HandRenderComponent
@implements IResizeComponent
@implements IDisposable

<th @ref=Element
    class="@Class">
    <div class="column-header-inner">
        <div class="@ContentSortClass"
             @onclick=ClickSortHandler>
            <div class="column-header-content">
                @if (ColumnNode.Item.HeaderComponentTypeName != null)
                {
                    <div class="column-header-content-content">
                        <DynamicComponent Type=headerComponentType
                                      Parameters=headerComponentParameters />
                    </div>
                }
                else
                {
                    <div class="column-header-content-content">
                        @(ColumnNode.Item.Title ?? ColumnNode.Item.UniqueName)
                    </div>
                }
            </div>
            @if (ColumnNode.Item.Sortable && ColumnNode.Item.Sort != null)
            {
                <span class="@SortClass">
                    @{
                        string sortIndex;
                        if (DataGridModel.Columns.Sorts.Length == 1)
                            sortIndex = "";
                        else
                            sortIndex = (DataGridModel.Columns.Sorts
                            .Single(x => x.Item.UniqueName == ColumnNode.Item.UniqueName).Index + 1)
                            .ToString();
                    }
                    @if (ColumnNode.Item.Sort == SortDirection.Ascending)
                    {
                        <span><small><sub>@sortIndex</sub></small>&#8593;</span>
                    }
                    else if (ColumnNode.Item.Sort == SortDirection.Descending)
                    {
                        <span><small><sub>@sortIndex</sub></small>&#8595;</span>
                    }
                </span>
            }
        </div>
        <div class="resizer"
             @onmousedown="x => ResizeHelper.OnMouseDownResizeHandler(x)">
            &nbsp;
        </div>
    </div>
</th>