@inherits HandRenderComponent
@implements IDisposable

@{
    var a = 1;
}

<Resize Tag="th"
        ResizeArea=ResizeArea
        MinWidth=ColumnModel.MinWidth
        Enable=ColumnNode.Item.Resizable
        OverClass="over-column-resizer"
        OnResizeStart=OnResizeStartHandler
        OnResizeEnd=OnResizeEndHandler
        ResizeBorder=5
        StartWidth=ColumnNode.Item.Width>
    <div class="column-header @(ColumnNode.Item.Sortable ? "sortable" : "")"
         style="grid-template-columns: @_gridTemplateColumns"
         @onclick=ClickSortHandler>
        <div class="column-header-content">
            @if (ColumnNode.Item.HeaderComponentTypeName != null)
            {
                <DynamicComponent Type=headerComponentType
                              Parameters=headerComponentParameters />
            }
            else
            {
                @(ColumnNode.Item.Title ?? ColumnNode.Key)
            }
        </div>
        @if (ColumnNode.Item.Sortable)
        {
            <span class="order @(ColumnNode.Item.Sort == null ? "" : ("show " + (ColumnNode.Item.Sort == SortDirection.Ascending ? "asc" : "desc")))">
                @if (ColumnNode.Item.Sort == SortDirection.Ascending)
                {
                    <span>&#8593;</span>
                }
                else if (ColumnNode.Item.Sort == SortDirection.Descending)
                {
                    <span>&#8595;</span>
                }
            </span>
        }
        @*        @if (ColumnNode.Item.Resizable)
            {
            <div class="resizer @(DataGridModel.Columns.ResizingColumn?.Key == ColumnNode.Key ? "resizing" : "")"
            draggable="true"
            style="width: @(5)px; background-color: red;"
            @ondragstart="OnResizeStartHandler"
            @ondragend="DataGridModel.Columns.ResizeEnd"
            @ondrag="OnResizeHandler">
            &nbsp;
            </div>
            }
        *@
    </div>
</Resize>
