@page "/"
@using Al.Components.Blazor.DataGrid.Model.Enums

<style>
    .over-column-resizer .resizer.over {
        cursor: col-resize;
        background-color: blue;
    }

    .my-resizer {
        height: 100%;
        width: 2px;
        background-color: red;
    }

    .column-header.over {
        cursor: grab;
    }

        .column-header.over.left {
            background: linear-gradient(to left, transparent calc(100% - 5px), gray calc(100% - 5px));
        }

        .column-header.over.right {
            background: linear-gradient(to right, transparent calc(100% - 5px), gray calc(100% - 5px));
        }

    th {
        border: 1px solid black;
    }

    .resize-area {
    }

    table {
        width: @((int)(model.Columns.Frozenless.Sum(x => x.Item.Width)) + "px;");
    }

    .root-element {
        display: grid;
        width: @((int)model.Columns.Visibilities.Sum(x => x.Item.Width))px;
    }

    .root-table {
        overflow-x: scroll;
        margin-left: @((int)model.Columns.FrozenLeft.Sum(x => x.Item.Width))px;
        margin-right: @((int)model.Columns.FrozenRight.Sum(x => x.Item.Width))px;
        width: @((int)model.Columns.Frozenless.Sum(x => x.Item.Width))px;
    }
</style>

<ResizeArea @ref=_resizeArea
            ResizerClass="my-resizer">
    <div class="root-element">
        <div class="root-table">
            <table>
                <Al.Components.Blazor.DataGrid.Data.Header.GridHeader DataGridModel=model />
            </table>
        </div>
    </div>
</ResizeArea>
