@using System.ComponentModel

@inherits HandRenderComponent
@implements IDisposable

@*<th @onclick="ClickSortHandler"
    @ref="_element">
    <div class="column-header @(ColumnModel.Sortable ? "sortable" : "")"
         style="grid-template-columns: @_gridTemplateColumns">
        <div class="column-header-content">
            @if (ColumnModel.HeaderTemplate != null)
            {
                @((RenderFragment)ColumnModel.HeaderTemplate)
            }
            else
            {
                @(ColumnModel.Title)
            }
        </div>
        @if (ColumnModel.Sortable)
        {
            <span class="order @(ColumnModel.Sort == null ? "" : ("show " + (ColumnModel.Sort == SortDirection.Ascending ? "asc" : "desc")))">
                @if (ColumnModel.Sort == SortDirection.Ascending)
                {
                    <span>&#8593;</span>
                }
                else if (ColumnModel.Sort == SortDirection.Descending)
                {
                    <span>&#8595;</span>
                }
            </span>
        }
        @if (ColumnModel.Resizable)
        {
            <div class="resizer @(DataGridModel.Columns.ResizingColumn?.UniqueName == ColumnModel.UniqueName ? "resizing" : "")"
                 draggable="true"
                 style="width: @(5)px; background-color: red;"
                 @ondragstart="OnResizeStartHandler"
                 @ondragend="DataGridModel.Columns.ResizeEnd"
                 @ondrag="OnResizeHandler">
                &nbsp;
            </div>
        }

    </div>
</th>
*@