@typeparam T

@inherits HandRenderComponent

@*
    для Mozilla FF
    ondragstart="event.dataTransfer.setData('', event.target.id);event.dataTransfer.setData('text', null)"
    @ondrop:preventDefault
*@

<th class="@_cssClass"
    style="@_style"
    ondragstart="event.dataTransfer.setData('', event.target.id);event.dataTransfer.setData('text', null)"
    @ondragover:preventDefault
    @ondragover="HandleDrag"
    @ondrop="HandleDrop"
    @ondrop:preventDefault
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    @onclick="ClickSortHandler"
    @ref="element">

    <div class="column-header"
         style="grid-template-columns: @_gridTemplateColumns">
        @if (droppingLeft == true)
        {
            <span class="drop-place before">&nbsp;</span>
        }
        <div class="column-header-content"
             @ondragstart="HandleDragStart"
             @ondragend="HandleDragEnd"
             draggable="@(Column.Draggable && !Column.Resizing ? "true" : "false")">
            @if (ColumnComponent.HeadTemplate != null)
            {
                @ColumnComponent.HeadTemplate
            }
            else
            {
                @Column.ShowName
            }
        </div>
        @if (Column.Sortable)
        {
            <span class="order @(Column.Sort == EnumSort.None ? "" : ("show " + (Column.Sort == EnumSort.Ascending ? "asc" : "desc")))">
                @if (Column.Sort == EnumSort.Ascending)
                {
                    <span>&#8593;</span>
                }
                else if (Column.Sort == EnumSort.Descending)
                {
                    <span>&#8595;</span>
                }
            </span>
        }
        @if (Column.Resizeable)
        {
            <div class="resizer @(Column.Resizing ? "resizing" : "")"
                 draggable="true"
                 style="width: @(widthResizer)px"
                 @ondragstart="ResizeStartHandler"
                 @ondragend="ResizeEndHandler"
                 @ondrag="ResizingHandler">
                &nbsp;
            </div>
        }
        @if (droppingLeft == false)
        {
            <span class="drop-place after">&nbsp;</span>
        }
    </div>
</th>
